#navigateTabTwo {
  width: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  background-color: var(--white);
  border-radius: 0.25rem;
  padding: 20px 40px;
  box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.07),
    0 10px 20px -2px rgba(0, 0, 0, 0.04);
}

.container-buttons-header {
  display: flex;
  gap: 40px;
}

.cont-btn-salir {
  display: flex;
  flex-direction: row !important;
  background-color: var(--white);
  border-radius: 20px;
  padding: 8px 24px !important;
  cursor: pointer;
  text-transform: none !important;
  text-decoration: none !important;
}

.cont-btn-salir .btn-salir {
  min-width: auto !important;
  padding: 0 !important;
}
.cont-btn-salir:hover,
.cont-btn-salir .btn-salir:hover {
  background-color: #eff3f8 !important;
}
@media (max-width: 768px) {
  .cont-btn-salir:hover,
  .cont-btn-salir .btn-salir:hover {
    background-color: #166eda !important;
  }
}
/*Tabla*/
.table--big {
  min-width: 1140px;
}

.table--medium {
  min-width: 1100px;
}

@media (max-width: 992px) {
  .table--medium {
    min-width: 1140px;
  }
}
.cont-table {
  border: 2px solid #e2e2e2;
  border-radius: 8px;
}

.table__header {
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
  background-color: #fafafa;
}
.table__header p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  line-height: 1.4;
}

.table__body {
  width: 100%;
}

.table__title {
  color: #939393;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  vertical-align: middle;
  padding: 12px 10px;
  text-align: left;
}
.table__title_label {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  line-height: 1.4;
  max-width: 82%;
}

.pad-histab .table__title {
  padding: 10px 15px;
}

.pad-histab .imp-al-his {
  padding-right: 41px;
}

.table__title_click {
  cursor: pointer;
}

.table__body-wrapper {
  max-height: 300px;
  overflow: auto;
}

.table__row {
  background-color: var(--white) !important;
  background-color: #fff;
  border-top: 1px solid #e2e2e2;
}
.table__row:nth-child(even) {
  background-color: #f5f5f5;
}
.table__row:hover {
  background-color: #eff3f8 !important;
}

td {
  min-width: 150px;
}
td.table__col {
  padding: 12px 10px;
  color: #939393;
}
td.table__col p {
  margin-bottom: 0px;
}
td.table__col label {
  width: 100%;
}

.table__icon {
  font-size: 18px;
  text-align: right;
  color: #939393;
}
.table__icon:hover {
  color: #4c4c4c;
}

.table__col--check {
  padding: 0 0 0 20px;
}
.table__col--check .checkboxn {
  margin-bottom: 20px;
}

.tab_left {
  text-align: left;
}

.tab_center {
  text-align: center;
}

.table__row--link {
  cursor: pointer;
}

.table--1440 {
  min-width: 1440px !important;
}

.table--1500 {
  min-width: 1500px !important;
}

.modal-body .btn-close-modal {
  position: absolute;
  right: 32px;
  cursor: pointer;
}
.title-modal {
  padding: 20px 0;
  margin: 10px 0 !important;
  font-weight: 500;
  font-size: 28px;
}
.cont-footer-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cont-footer-modal .btn-footer-modal {
  width: 200px;
  text-align: center;
  padding: 6px 20px !important;
  border-radius: 20px;
  font-size: 15px;
  text-decoration: none !important;
  opacity: 0.8;
  gap: 30px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}

.cont-footer-modal .btn-footer-modal:hover {
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%) !important;
  opacity: 1;
}
.cont-footer-modal {
  padding: 25px 0;
}
@media (min-width: 320px) {
  .cont-footer-modal .btn-footer-modal {
    width: 250px;
  }
}
@media (min-width: 480px) {
  .cont-modal-info {
    margin-left: 20px;
  }
  .cont-footer-modal .btn-footer-modal {
    width: 300px;
  }
}
@media (min-width: 620px) {
  .cont-modal-info {
    margin-left: 40px;
  }
  .cont-footer-modal {
    flex-direction: row;
  }
  .cont-footer-modal .btn-footer-modal {
    width: 160px;
  }
}
@media (min-width: 720px) {
  .modal-body .btn-close-modal {
    right: -32px;
  }
  .cont-modal-info {
    margin-left: 32px;
  }
}
@media (min-width: 768px) {
  .cont-modal-info {
    margin-left: 25px;
  }
}
@media (min-width: 992px) {
  .modal-body .btn-close-modal {
    right: 20px;
  }
  .modal-aprobar {
    width: 80%;
    margin-left: 10%;
  }
  .cont-modal-info {
    margin-left: 28px;
  }
}
